div.top-bar
  div.top-bar-left
    ul.menu
      li: a(href="#" class="site-name") Oscillo
  div.top-bar-right
    ul.menu
      li: a(href="#") Components
      li.user-profile: a(href="#")
        span.user-profile__name rayfields
        img(class="user-profile__avatar" src="//www.gravatar.com/avatar/b58f6ebea2155370e2daf60c369616b1" alt="rayfields")
