.top-bar {
  $line-height: $topbar-height - 1;
  height: $topbar-height;
  padding: 0;
  border-bottom: 1px solid $border-color;
  .menu {
    > li {
      height: $line-height;
      line-height: $line-height;
      > a {
        display: block;
        height: 100%;
        padding: 0 20px;
        line-height: $line-height;
        color: $color-black;
        transition: $transition-hover;
        &:hover {
          color: $brand-color;
        }
      }
    }
    .user-profile {
      border-left: 1px solid $border-color;
    }
  }
  .menu > li > .site-name {
    padding: 0 20px;
    font-family: $font-family-primary;
    font-size: 1.4em;
    font-weight: bold;
    line-height: $line-height - 2;
    color: $color-black;
    letter-spacing: -.03em;
    border-right: 1px solid $border-color;
    transition: $transition-hover;
    &:hover {
      color: $brand-color;
      background-color: $tob-bar-hover;
    }
  }
}
