.top-bar {
  height: $topbar-height;
  padding: 0;
  border-bottom: 1px solid #eee;
  .menu {
    > li {
      height: $topbar-height - 1;
      line-height: $topbar-height - 1;
      > a {
        display: block;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        line-height: $topbar-height - 4;
      }
    }
  }
}

.site-name {
  font-family: $font-family-primary;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -.03em;
}
