$color-black: #000 !default;
$brand-color: #45b65e !default;
$border-color: #e6e6e6 !default;
$bg-color: #f3f3f3 !default;
$tob-bar-hover: #f9f9f9 !default;
$topbar-height: 65px !default;
$font-family-primary: 'Montserrat', sans-serif !default;
$transition-hover: .2s all ease-out !default;
